/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .25em 1em;
	padding: 1em 2em;
	cursor: pointer;
	border: 1px solid #25357E;
	background-color: var(--White);
	font-family: 'Akrobat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: var(--BlueDark);
	outline: none;
	transition: all .35s linear;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -6px;
		right: -6px;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: linear-gradient(90deg, #222B82 0%, #0090C6 48.91%, #009C7A 100%);
		transition: all .35s linear;
	}

	&:hover,
	&:focus,
	&.is-hover {
		&:after {
			bottom: 0;
			right: 0;
		}
	}

	&:active,
	&.is-active {
		border-color: var(--Black);
		background-color: var(--Black);
	}

	&.load-more {
		margin: var(--SmallSpacing) auto;
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.has-icon {

		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: #f8f8ff;
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-transparent {
		border-color: var(--Black);
		background-color: var(--Black);
		background-clip: padding-box;

		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Black);
			background-color: var(--Black);
		}

		&:active,
		&.is-active {
			border-color: var(--Black);
			background-color: var(--Black);
		}
	}

	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-small {
		font-size: .875em;
		padding: .35em .875em;
	}

	&.is-large {
		font-size: 1.25em;
		padding: .75em 1.35em;
	}
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-fluid {
		width: 100%;
		margin: 0;
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		background-color: transparent;
		color: var(--DarkGrey);

		&:hover,
		&:focus,
		&.is-hover {
			color: var(--White);
			border-color: var(--Black);
			background-color: var(--Black);
		}

		&:active,
		&.is-active {
			color: var(--White);
			border-color: var(--Black);
			background-color: var(--Black);
		}
	}
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-borderless {
		background-color: transparent;
		border-color: transparent;
		color: var(--DarkGrey);

		&:hover,
		&:focus,
		&.is-hover {
			background-color: transparent;
			border-color: transparent;
			color: var(--Black);
		}

		&:active,
		&.is-active {
			background-color: transparent;
			border-color: transparent;
			color: var(--Black);
		}

		&:first-of-type {
			padding-left: 0;
		}
	}
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {

	& button,
	& .button {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.are-grouped {
		display: flex;

		button,
		.button {
			margin-right: 0;
			white-space: nowrap;
			flex: 1;

			&:first-child {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			&:last-child {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}

	&.button_content {
		margin: 25px auto;
	}
}