/*----------------------------------------------------------------*\
	STANDARD CHIP
\*----------------------------------------------------------------*/

.chip {
	display: inline-block;
	margin: .25em 0;
	padding: .2em .55em;
	border-radius: 2em;
	border: 1px solid var(--GreyDark);
	background-color: var(--GreyDark);
	font-family: 'Akrobat';
	text-decoration: none;
	text-align: center;
	color: var(--White);
	cursor: pointer;
	outline: none;
	transition: all .35s linear;

	&:hover,
	&:focus,
	&.is-hover {
		border-color: var(--Black);
		background-color: var(--Black);
	}

	&:active,
	&.is-active {
		border-color: var(--Black);
		background-color: var(--Black);
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.has-icon {

		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-bottom;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: #f8f8ff;
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: 0;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

.chip {
	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.is-ghost {
		background-color: transparent;
		color: var(--GreyDark);

		&:hover,
		&:focus,
		&.is-hover {
			color: var(--White);
			border-color: var(--Black);
			background-color: var(--Black);
		}

		&:active,
		&.is-active {
			color: var(--White);
			border-color: var(--Black);
			background-color: var(--Black);
		}
	}
}