/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/

form {
	max-width: 628px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 8em;
	padding: 4em 2em 8em;
	border-radius: 0 55px 0 55px;
	background: linear-gradient(180deg, #2A318A 0%, #008FD3 51.35%, #00987D 100%);
	position: relative;
	z-index: 0;

	@media(--1050vp) {
		width: 100%;
		margin-left: 4em;
		padding: 4em 4em 8em;
	}

	@media(--1200vp) {
		margin-bottom: auto;
	}

	& button,
	& .button {
		margin: 4em auto 0;

		&:after {
			background: #25357E;
		}
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}

	& .gform_body {
		display: flex;
	}

	& .gfield_html,
	& h3 {
		color: var(--White);
		font-family: 'Akrobat', sans-serif;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1.25px;
		line-height: 41px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 2em;

		@media(--1050vp) {
			font-size: 24px;
		}
	}

	& li {
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: .5em;
		line-height: 1.5;

		&.hidden_label {
			&>label {
				display: none;
			}
		}

		&.are-stacked li {
			display: block;
			float: none;
		}

		&.half {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--1050vp) {
				width: 49%;
				margin-right: 1%;

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}

		&.third {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--1050vp) {
				width: 32.33%;
				margin: 0 .5%;

				&.first {
					margin-left: 0;
					margin-right: 1%;
				}

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.validation_message {
	display: none;
}

/*---------------------------------------*\
    LABELS
\*---------------------------------------*/

label {
	display: inline-block;
	position: relative;
	color: var(--White);
	font-family: 'Akrobat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 41px;
	text-transform: uppercase;
	padding: 0 .5em;
	float: left;
}

li.gfield_contains_required {

	&>label::before,
	& .gfield_required {
		display: none;
	}
}

.ginput_container label,
.charleft,
input[type="file"]+span {
	font-size: .75rem;
	margin-bottom: .5rem;

	&::before {
		display: none;
	}
}

/*---------------------------------------*\
    INPUTS
\*---------------------------------------*/

input {
	font-family: 'Akrobat', sans-serif;
	border: none;
	width: 100%;
	padding: 0 0.5em 1em;
	background-color: transparent;
	border-bottom: 1px solid var(--White);
	color: var(--White);
	background-repeat: no-repeat;
	background-position: bottom 100% right 0;
	background-size: 1.5em;
	font-size: 18px;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: var(--White);
		opacity: 0.52;
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		/* invalid styles */
		background-image: url('../images/x-mark.svg');
	}
}

/*---------------------------------------*\ 
FILE UPLOAD 
\*---------------------------------------*/

input[type="file"] {
	color: transparent;
	border: none;
	padding-left: 0;
}

input[type="file"]::-webkit-file-upload-button {
	visibility: hidden;
}

input[type="file"]::before {
	content: "Upload File";
	display: inline-block;
	border: 2px solid var(--GreyDark);
	background-color: transparent;
	color: var(--GreyDark);
	font-family: 'Akrobat';
	font-style: normal;
	padding: .75em 1.25em;
	cursor: pointer;
	border-radius: 50px;
	outline: 0;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 14px;
}

input[type="file"].file-uploaded::before {
	content: "Change File";
	border-color: var(--Black);
	background-color: var(--Black);
	color: var(--White);
}

/*---------------------------------------*\
    RADIO / CHECKBOXES
\*---------------------------------------*/

input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: var(--Black);
		border-color: var(--Black);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;

		&::before {
			display: none;
		}
	}
}

input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: var(--Black);
		border-color: var(--Black);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;

		&::before {
			display: none;
		}
	}
}

/*---------------------------------------*\
    SELECT
\*---------------------------------------*/

select {
	font-family: 'Akrobat';
	border: 2px solid var(--GreyDark);
	padding: .5em;
	padding-right: calc(.5em + 20px);
	width: 100%;
	appearance: none;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right .5em;
	background-size: 1.25em;

	&:focus {
		outline: none;
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		/* invalid styles */
	}
}

/*---------------------------------------*\
    TEXTAREA
\*---------------------------------------*/

textarea {
	font-family: 'Akrobat';
	border: 2px solid var(--GreyDark);
	padding: .5em;
	width: 100%;

	&:focus {
		outline: none;
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		/* valid styles */
	}
}

/*---------------------------------------*\
    NAME
\*---------------------------------------*/

.ginput_container_name {
	display: flex;
	flex-wrap: wrap;

	&>span {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		@media(--1050vp) {
			width: 49%;
			margin-right: 1%;

			&.name_last {
				margin-right: 0;
				margin-left: 1%;
			}
		}
	}
}

/*---------------------------------------*\
    ADDRESS
\*---------------------------------------*/

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@media(--1050vp) {

		& .address_city,
		& .address_state,
		& .address_zip {
			width: 32.33%;
			margin: 0 .5%;
		}

		& .address_city {
			margin-left: 0;
			margin-right: 1%;
		}

		& .address_zip {
			margin-right: 0;
			margin-left: 1%;
		}
	}
}

/*---------------------------------------*\
    TIME
\*---------------------------------------*/

.clear-multi::after {
	content: '';
	clear: both;
	display: block;
}

.gfield_time_hour {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;

	& i {
		display: none;
	}
}

.gfield_time_minute {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;
}

.gfield_time_ampm {
	width: 33%;
	float: left;
}

/*---------------------------------------*\
    DATEPICKER
\*---------------------------------------*/

#ui-datepicker-div {
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	padding: 20px;
	width: 300px;

	& .ui-icon {
		color: transparent;
		cursor: pointer;
		font-size: 0px;
	}

	& .ui-icon:before {
		color: var(--Primary);
		font-size: 18px;
	}

	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '<';
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '>';
			float: right;
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-title {
		display: flex;

		& select {
			width: 100%;
			padding: 2px;
			margin: 0 1px 10px 1px;
		}
	}

	& .ui-datepicker-today {
		background-color: var(--Primary);
		border-radius: 4px;

		& a {
			color: #FFF;
		}
	}

	& table {
		width: 100%;

		& td,
		& th {
			text-align: center;
		}

		& td {
			& a {
				display: block;
				padding: 5px;
			}
		}
	}
}

/*---------------------------------------*\
    PAYMENT
\*---------------------------------------*/

.gfield.credit-card>label {
	position: initial;
}

.ginput_container_creditcard {

	& input.is-activated,
	& input.LV_valid_field {
		background-image: none;
	}

	& .gform_card_icon_container {
		display: flex;
		flex-wrap: wrap;

		& .gform_card_icon {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.5rem;
			width: 35px;
			height: 35px;
			margin: 0 .5rem 0 0;
			text-indent: -100000px;
			overflow: hidden;
		}

		& .gform_card_icon_amex {
			background-image: url('../images/CC-american-express.svg');
		}

		& .gform_card_icon_discover {
			background-image: url('../images/CC-discover.svg');
		}

		& .gform_card_icon_mastercard {
			background-image: url('../images/CC-mastercard.svg');
		}

		& .gform_card_icon_visa {
			background-image: url('../images/CC-visa.svg');
		}

		& .gform_card_icon_jcb {
			background-image: url('../images/CC-jcb.svg');
		}
	}

	& .ginput_cardextras {
		display: flex;
		flex-wrap: wrap;
	}

	& .ginput_cardinfo_left {
		width: 66%;

		& .ginput_card_field {
			display: flex;
			flex-wrap: wrap;

			& select {
				width: calc(50% - 1em);
				margin: 0 1em 0 0;
			}

			& label {
				width: 100%;
			}
		}
	}

	& .ginput_cardinfo_right {
		width: 33%;
		display: flex;
		flex-wrap: wrap;

		& input {
			width: calc(100% - 1em);
			margin: 0 1em 0 0;
		}

		& span {
			display: none;
		}

		& label {
			width: 100%;
		}
	}
}

.gform_confirmation_message {
	margin-bottom: 10em;
	padding: 0 2em;
	text-align: center;
}