/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Navya';
	src: url('../fonts/Navya.ttf') format('truetype');
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Akrobat Bold';
	src: url('../fonts/Akrobat-Bold.otf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'Navya';
}

h1 {
	font-size: 50px;

	&+h2 {
		font-size: 30px;
		font-family: 'Akrobat Bold';
		margin-top: -30px;
	}
}

h2 {
	font-size: 32px;
	color: var(--Blue);

	&+h3 {
		font-size: 24px;
		font-family: 'Akrobat Bold';
		margin-top: -28px;
	}
}

h3 {
	font-size: 26px;

	&+h4 {
		font-size: 20px;
		font-family: 'Akrobat Bold';
		margin-top: -20px;
	}
}

h4 {
	font-size: 22px;

	&+h4 {
		font-size: 16px;
		font-family: 'Akrobat Bold';
		margin-top: -18px;
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 2px;
	margin: .875em 0;
	background-color: var(--GreyDark);
}

p,
span,
time,
address,
nav,
ul {
	font-family: 'Akrobat';
	font-size: 1em;
	line-height: 1.5;
}

strong,
b {
	font-family: 'Akrobat Bold';
}

p a {
	font-size: inherit;
	color: var(--White);
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;
	border-left: 3px solid var(--Black);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Black);
		font-size: 1.15em;

		&:last-of-type {
			color: var(--GreyDark);
			font-family: 'Akrobat Bold';
			font-size: 1em;
			text-transform: uppercase;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}