/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	color: var(--White);
	margin-top: -4em;
	position: relative;
	bottom: 0;
	right: 0;
	width: 100%;
}

/*----------------------------------------------------------------*\
	COPYRIGHT
\*----------------------------------------------------------------*/

.copyright {
	padding: 1em 0 0;
	position: relative;
	max-width: var(--LargeWidth);
	margin: 0 auto;

	& #element5-credit {
		text-align: center;
		overflow: hidden;

		& img {
			transform: translateX(100%);
			transition: all .35s linear;
		}

		&[data-emergence=visible] img {
			transform: translateX(0);
		}
	}

	& .legal {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1em;
		align-items: center;

		@media(--1200vp) {
			justify-content: flex-end;
			margin-top: auto;
		}
	}

	& p {
		margin: 0;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1.45px;
		line-height: 22px;
		text-align: center;
		color: var(--Grey);

		@media(--800vp) {
			width: 100%;
		}

		@media(--1050vp) {
			text-align: left;
			width: auto;
		}
	}

	& nav {
		& ul {
			margin: 0;
			justify-content: center;

			@media(--1050vp) {
				justify-content: flex-end;
			}
		}

		& a {
			padding: 0 .5em;
			font-size: .875em;
			line-height: 2;
			color: var(--White);
		}
	}
}