/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	text-align: center;
	max-width: var(--Width);
	padding: var(--LargeSpacing) var(--SmallSpacing);
}

.gallery-items {
	width: 100%;
	max-width: 1024px;
	margin: 25px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	grid-gap: 16px;

	& img {
		width: 100%;
		height: auto;
		display: block;
	}

	@media(--500vp) {
		grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	}

	@media(--800vp) {
		grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
	}
}