/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: 90vh;
	min-height: 400px;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--Blue);
	margin-top: 6em;
	margin-bottom: 2em;

	@media(--1050vp) {
		margin-top: 0;
		margin-bottom: 0;
	}

	&>section {
		position: relative;
		max-width: var(--LargeWidth);
		z-index: 3;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;

		@media(--1050vp) {
			justify-content: space-between;
		}

		&>:first-child {
			order: 2;
			text-align: center;

			@media(--1050vp) {
				order: 1;
				text-align: left;
				padding: 0 2em;
			}
		}

		&>:last-child {
			order: 1;

			@media(--1050vp) {
				order: 2;
				padding: 0 2em;
				width: 30%;
			}

			@media(--1200vp) {
				width: auto;
			}

			& img {
				width: 60%;
				margin: 2em auto;
				display: flex;

				@media(--1050vp) {
					width: auto;
					margin: auto;
				}
			}
		}

		& h1 {
			font-size: 80px;
			font-weight: 100;
			margin: 20px 0;
			line-height: 1;
			background: linear-gradient(to right, #2A318A 0%, #008FD3 51.35%, #00987D 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@media(--1050vp) {
				font-size: 100px;
			}
		}

		& p {
			color: var(--Blue);
			font-family: 'Navya', sans-serif;
			font-size: 28px;
			letter-spacing: 0.25px;
			margin: 20px 0;
			text-transform: uppercase;
		}
	}

	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--Black);
		opacity: .5;
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;

		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--Black);
			opacity: .5;
		}

		& video {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: auto;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
	POST TITLES
\*----------------------------------------------------------------*/
.single-post header {
	color: var(--Black);

	& .post-meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		max-width: var(--Width);

		& p {
			margin: 0 0 .25em 0;
		}

		& img {
			border-radius: 50%;
			width: 75px;
			margin-right: 1em;
		}
	}
}