/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--LargeWidth);
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}