/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

main,
article {
	position: relative;
}



/*----------------------------------------------------------------*\
	404
\*----------------------------------------------------------------*/

body.error404 {
	& article {
		height: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(--Black);

		& section {
			max-width: 600px;
		}

		& h1 {
			margin-top: 0;
			color: var(--White);
			font-size: responsive 55px 80px;
			font-range: 420px 1400px;
			text-transform: uppercase;
		}

		p {
			color: var(--White);
			font-size: 1.5em;
		}

		& .buttons {
			margin-top: 50px;
		}
	}
}

/*----------------------------------------------------------------*\
	THANK YOU
\*----------------------------------------------------------------*/

body.page-template-thankyou {
	& article {
		height: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		& section {
			max-width: 600px;
		}

		& img {
			max-width: 400px;
		}

		& h1 {
			margin-top: 0;
			font-size: responsive 55px 80px;
			font-range: 420px 1400px;
			text-transform: uppercase;
		}

		p {
			font-size: 1.5em;
		}

		& .buttons {
			margin-top: 50px;
		}
	}
}