/*----------------------------------------------------------------*\
	COOKIE USE
\*----------------------------------------------------------------*/

.cookie-use {
	background-color: var(--Blue);
	padding: 1em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateY(0);
	transition: all .5s linear;

	@media(--500vp) {
		padding: 1em 0;
	}

	&.is-hidden {
		transform: translateY(100%);
	}

	& .block {
		max-width: 950px;
		margin: 0 auto;
		text-align: center;

		@media(--500vp) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: inherit;
		}

		& p {
			color: var(--White);
			line-height: 1;
			font-family: 'Akrobat', sans-serif;
			font-size: 18px;
			font-weight: 100;
		}

		& button {
			min-width: 216px;
			margin-right: 0;
		}
	}
}