/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/

article.preview {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 48%;
	border-radius: 6px;
	border: 1px solid var(--GreyDark);
	background-color: #fff;
	margin-bottom: var(--Spacing);

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	& .featured-image {
		margin-top: 0;
		overflow: hidden;

		& img {
			width: 100%;
			display: block;
			transition: all .5s ease-in-out;
		}
	}

	& h1,
	& p {
		padding: 0 var(--SmallSpacing);
	}

	& p {
		flex: auto;
	}

	& .buttons {
		margin-top: 1.5em;
	}

	&:hover,
	&:focus {

		& .button,
		& button {
			border-color: var(--GreyDark);
			background-color: var(--GreyDark);
		}

		& img {
			transform: scale(1.1);
		}
	}
}